asgiref==3.8.1
brevo-python==1.1.2
certifi==2024.12.14
Django==5.1.4
django-widget-tweaks==1.5.0
et_xmlfile==2.0.0
numpy==2.2.1
openpyxl==3.1.5
pandas==2.2.3
pillow==11.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
sib-api-v3-sdk==7.6.0
six==1.17.0
sqlparse==0.5.3
tzdata==2024.2
urllib3==2.3.0
